.bg-box {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    background-color: #2f6b15;

    background-image:
        url("https://freeiconspng.com/uploads/grass-png-images-pictures-transparent-28.png"),
        url("https://freeiconspng.com/uploads/lamp-png-0.png"),
        url("https://avatarplus.com/files/resources/mid/58eb07b830eab15b56162788.png"),
        url("https://vignette.wikia.nocookie.net/mashaandthebear/images/e/e0/Ёжик.png"),
        url("https://img2.goodfon.ru/wallpaper/big/0/5b/pole-zelen-trava-dom-derevya.jpg");

    background-repeat:
        repeat-x,
        repeat-x,
        repeat-y,
        repeat-y,
        no-repeat;

    background-position:
        bottom,
        top,
        right top,
        left top,
        center;

    background-size:
        320px,
        /* трава */
        40px,
        /* лампы сверху */
        30px,
        /* пончики справа */
        30px,
        /* ёжики слева */
        60%;
    /* дом по центру */
}